/* static/css/custom.css */
.navbar-custom {
    background-color: #49b1d8;
}
/* Adiciona uma largura máxima e altura para a modal-body */
.modal-body {
    max-height: 70vh; /* Ajuste conforme necessário */
    overflow-y: auto;
    overflow-x: hidden; /* Evita o overflow horizontal */
}

/* Opcional: Estiliza a barra de rolagem para melhor visibilidade */
.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px;
}

.modal-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
