<!-- templates/precificacao-equipe.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Precificação de Equipe{% endblock %}

{% block content %}
    {% load static %}
    <h1 class="mt-5" style="text-align: center;">Precificação de Equipe</h1>
    <form method="post" action="{% url 'precificacao-equipe' %}" class="mt-3" style="padding: 20px;">
        {% csrf_token %}
        <div class="form-group">
            <label for="qtd_funcionario_cliente">Quantidade de Funcionários:</label>
            <input type="text" class="form-control" name="qtd_funcionario_cliente" id="qtd_funcionario_cliente" placeholder="Quantidade de Funcionários" value="{{ qtd_funcionario_cliente }}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="lucro_desejado">Lucro Desejado (%):</label>
                <input type="text" class="form-control" name="lucro_desejado" id="lucro_desejado" placeholder="Lucro Desejado (%)" value="{{ lucro_desejado }}">
            </div>
            <div class="form-group col-md-6">
                <label id="ipca-label" for="ipca">IPCA (%):</label>
                <input type="text" class="form-control" name="ipca" id="ipca" placeholder="IPCA (%)" value="{{ ipca }}">
            </div>
        </div>

        <!-- Botões para Adicionar Diferentes Tipos de Cargos -->
        <div class="form-row">
            <div class="form-group col-md-4">
                <button type="button" class="btn btn-outline-info btn-block mt-2" id="add_coordenador_junior">
                    + Coordenador Júnior
                </button>
                <div id="coordenador_junior_fields"></div>
            </div>
            <div class="form-group col-md-4">
                <button type="button" class="btn btn-outline-info btn-block mt-2" id="add_coordenador_pleno">
                    + Coordenador Pleno
                </button>
                <div id="coordenador_pleno_fields"></div>
            </div>
            <div class="form-group col-md-4">
                <button type="button" class="btn btn-outline-info btn-block mt-2" id="add_coordenador_senior">
                    + Coordenador Sênior
                </button>
                <div id="coordenador_senior_fields"></div>
            </div>
            <div class="form-group col-md-4">
                <button type="button" class="btn btn-outline-info btn-block mt-2" id="add_analista_junior">
                    + Analista Júnior
                </button>
                <div id="analista_junior_fields"></div>
            </div>
            <div class="form-group col-md-4">
                <button type="button" class="btn btn-outline-info btn-block mt-2" id="add_analista_pleno">
                    + Analista Pleno
                </button>
                <div id="analista_pleno_fields"></div>
            </div>
            <div class="form-group col-md-4">
                <button type="button" class="btn btn-outline-info btn-block mt-2" id="add_analista_senior">
                    + Analista Sênior
                </button>
                <div id="analista_senior_fields"></div>
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-outline-info btn-block mt-2" id="add_assistente">
                    + Assistente
                </button>
                <div id="assistente_fields"></div>
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-outline-info btn-block mt-2" id="add_auxiliar">
                    + Auxiliar
                </button>
                <div id="auxiliar_fields"></div>
            </div>
        </div>

        <button type="button" class="btn btn-primary mt-3" id="avancar-btn">Avançar</button>
        <button type="button" class="btn btn-danger mt-3" id="limpar-btn">Limpar</button>

        <!-- Modal Avançar -->
        <div class="modal fade" id="avancarModal" tabindex="-1" aria-labelledby="avancarModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="avancarModalLabel">Revisar e Calcular Valores</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body-content">
                        <!-- Conteúdo será gerado dinamicamente -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="calcular-btn">Calcular</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Resultados -->
        <div class="modal fade" id="resultadosModal" tabindex="-1" role="dialog" aria-labelledby="resultadosModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="resultadosModalLabel">Resultados da Precificação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- A tabela será inserida aqui pelo JavaScript -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="salvar-btn">Salvar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Salvar Informações -->
        <div class="modal fade" id="salvarInformacoesModal" tabindex="-1" aria-labelledby="salvarInformacoesModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="salvarInformacoesModalLabel">Informações para Salvar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="salvar-pdf-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="nome_cliente">Nome do Cliente:</label>
                                <input type="text" class="form-control" id="nome_cliente" name="nome_cliente" placeholder="Nome do Cliente" required>
                            </div>
                            <div class="form-group">
                                <label for="numero_proposta">Número da Proposta:</label>
                                <input type="text" class="form-control" id="numero_proposta" name="numero_proposta" placeholder="Número da Proposta" required>
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            </div>
                            <div class="form-group">
                                <button type="button" id="salvar-pdf" class="btn btn-success">Salvar em PDF</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="{% static 'js/avancarModal.js' %}"></script>

    <script>
        $(document).ready(function () {
            let contador = {
                coordenador_junior: 0,
                coordenador_pleno: 0,
                coordenador_senior: 0,
                analista_junior: 0,
                analista_pleno: 0,
                analista_senior: 0,
                assistente: 0,
                auxiliar: 0
            };
    
            // Armazena todos os campos adicionados por tipo
            let cargosAdicionados = {
                coordenador_junior: [],
                coordenador_pleno: [],
                coordenador_senior: [],
                analista_junior: [],
                analista_pleno: [],
                analista_senior: [],
                assistente: [],
                auxiliar: []
            };
    
            function adicionarCampo(tipo) {
                contador[tipo]++;
                const novoCampo = `
                    <div class="input-group mb-3" style="padding-top: 5px;">
                        <input type="number" class="form-control" id="${tipo}_${contador[tipo]}" name="${tipo}_${contador[tipo]}" placeholder="${tipo.replace('_', ' ')} ${contador[tipo]}" data-tipo="${tipo}">
                        <span class="input-group-text" id="basic-addon2">%</span>
                    </div>
                `;
                $(`#${tipo}_fields`).append(novoCampo);
            }

            $('#add_coordenador_junior').on('click', function () {
                adicionarCampo('coordenador_junior');
            });
            $('#add_coordenador_pleno').on('click', function () {
                adicionarCampo('coordenador_pleno');
            });
            $('#add_coordenador_senior').on('click', function () {
                adicionarCampo('coordenador_senior');
            });
            $('#add_analista_junior').on('click', function () {
                adicionarCampo('analista_junior');
            });
            $('#add_analista_pleno').on('click', function () {
                adicionarCampo('analista_pleno');
            });
            $('#add_analista_senior').on('click', function () {
                adicionarCampo('analista_senior');
            });
            $('#add_assistente').on('click', function () {
                adicionarCampo('assistente');
            });
            $('#add_auxiliar').on('click', function () {
                adicionarCampo('auxiliar');
            });
    
            $('#limpar-btn').on('click', function () {
                $('#qtd_funcionario_cliente').val('');
                $('#lucro_desejado').val('');
                $('#ipca').val('');
                $('.input-group').remove();
                for (let tipo in contador) {
                    contador[tipo] = 0;
                    cargosAdicionados[tipo] = [];
                }
            });

            // Função para alterar o label com base na data atual
            function atualizarLabelIPCA() {
                const hoje = new Date();
                const mesAtual = hoje.getMonth() + 1; // getMonth() retorna de 0 a 11, então somamos 1
                const anoAtual = hoje.getFullYear();
                let labelIPCA = '';

                if (mesAtual >= 8) {
                    // Se o mês atual for agosto ou posterior
                    labelIPCA = `IPCA (08/${anoAtual} - ${mesAtual.toString().padStart(2, '0')}/${anoAtual}):`;
                } else {
                    // Se o mês atual for antes de agosto
                    labelIPCA = `IPCA (08/${anoAtual - 1} - ${mesAtual.toString().padStart(2, '0')}/${anoAtual}):`;
                }

                // Atualizar o texto do label
                document.getElementById('ipca-label').innerText = labelIPCA;
            }

            // Chamar a função para atualizar a label quando a página carregar
            atualizarLabelIPCA();
                });
    </script>    
{% endblock %}
